<div class="container body-error">
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                <center>Erro ao tentar válidar CPF!</center>
            </div>
            <small id="cpf-help" class="form-text text-muted information">Procure digitar um CPF no seguinte formato: <b>XXX.XXX.XXX-XX</b></small>
            <a href="/" class="btn btn-danger btn-erro">Voltar para a validação</a>
        </div>
    </div>
</div>